.file-handler-container {
    min-height: 100vh;
    background-color: #899abc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 100%;
  }
  
  .file-handler-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
  
  .file-handler-upload-btn {
    background-color: #3b82f6;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .file-handler-hidden-input {
    display: none;
  }
  
  .file-handler-input-group,
  .file-handler-export-group {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .file-handler-input,
  .file-handler-select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: black;
    background: rgb(255, 255, 255);
  }
  
  .file-handler-add-btn,
  .file-handler-export-btn {
    background-color: #22c55e;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-handler-table-container {
    overflow-x: scroll;
    background-color: white;
    padding: 16px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .file-handler-table {
    width: 100%;
    border-collapse: collapse;
  }
  .not-editable{
    cursor: not-allowed;
  }
  .file-handler-table-header {
    background-color: #b2b3b5;
    padding: 8px;
    text-align: left;
  }
  
  .file-handler-table-row:hover {
    background-color: #f9fafb;
  }
  
  .file-handler-table-cell {
    padding:2px 4px;
    border: 1px solid #ddd;
  }
  
  .file-handler-table-input{
    background: white;
    color: black;
    border: none;
    padding: 5px 0px;

  }